body{
    background: rgb(88, 88, 88);
    color: white;
    transition: background 0.3s, color 0.3s
}
.top_nav{
    background-color: #000;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
}
.logo{
    color: #dddddd;
}
.bottom_nav{
    background-color: #000;
    box-shadow: 0 -2px 5px 0 rgba(255, 255, 255, 0.5);
}
.top_nav_box a, .bottom_nav a{
    color: #dddddd;
}
footer{
    background-color: #dddddd;
    color: #000;
}
