.top_nav{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.top_nav button{
    text-transform: capitalize;
    font-size: 14px;
    margin-left: auto;
    background-color: transparent;
    padding: 2.5px 10px;
    border-radius: 5px;
}

.bottom_nav{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 99;
    padding: 0 10px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}
.bottom_nav a{
    text-decoration: none;
    color: black;
    padding: 2.5px 7.5px;
    border: 2px solid black;
    border-radius: 5px;
}
