<footer>
    <h2>Quick Links</h2>
    <div class="quick_link">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/refund-policy">Refund Policy</a>
        <a href="/terms-and-conditions">Terms and Conditions</a>
        <a href="/contact-us">Contact Us</a> 
    </div>
    <div class="copyright_text">© <span id="year"></span> codemoney.in</div class="footer">
</footer>
<!-- <footer>
  <p>© <span id="year"></span> codemoney.in</p>
</footer> -->
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
