<nav class="top_nav">
    <a href="/" class="logo">&lt;Codemoney<small style="font-family: monospace;">.IN</small>/&gt;</a>
    <button id="themeBtn">:::::</button>
</nav>
<nav class="bottom_nav">
    <a href="/">&lt;Home/&gt;</a>
    <a href="/about">&lt;About/&gt;</a>
    <a href="/contact">&lt;Contact/&gt;</a>
    <a href="/login">&lt;Login/&gt;</a>
    <a href="#">&lt;Menu/&gt;</a>
</nav>

<!-- <header>
  <div class="blank"></div>
  <nav class="top_nav">
    <a href="/" class="logo">Codemoney</a>
    <button id="themeBtn">:::::</button>
  </nav>
  <nav class="bottom_nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/help">Help</a>
    <a href="#">Menu</a>
  </nav>
</header> -->
