<nav class="top_nav">
    <a href="/" class="logo">&lt;C<small>ODEMONEY.IN</small>/&gt;</a>
</nav>
<!-- <nav class="top_nav"> -->
    <!-- <a href="/" class="logo">&lt;C<small>ODEMONEY.IN</small>/&gt;</a> -->
    <!-- <div class="top_nav_box">
        <a id="themeBtn">:::::</a>
        <a href="/login">Login</a>
    </div> -->
<!-- </nav> -->
<!-- <nav class="bottom_nav">
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/contact">Contact</a>
    <a href="/offers">Offers</a>
    <a href="/">Menu</a>
</nav> -->
