<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <script>
        (function () {
            const theme = localStorage.getItem("theme") || "light";
            const link = document.createElement("link");
            link.rel = "stylesheet";
            link.id = "theme-style";
            link.href = theme === "light" ? "/css/light.css" : "/css/dark.css";
            document.head.appendChild(link);
        })();
    </script> -->
    <title>{{ page.title }}</title>
    {% if page.robots %}
        <meta name="robots" content="{{ page.robots }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer type="module" src="/js/main.js"></script> -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include header.html %}
  <main>
      {% if page.comingsoon == true %}
        {% include comingsoon.html %}
      {% else %}
        {{ content }}
      {% endif %}
  </main>
  {% include footer.html %}
    
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var buyBtn = document.getElementById("buyBtn");
if (buyBtn) {
    buyBtn.onclick = function () {
      var options = {
        // "key": "rzp_test_SGTYFSjKPV0Gd3",
        "key": "rzp_live_SGTU5zWEk6ZHjM",
        "amount": "49900",
        "currency": "INR",
        "name": "Codemoney",
        "description": "Donation",
    
        "handler": function (response){
            alert("Donation Successful!");
            console.log(response);
        }
      };
      var rzp = new Razorpay(options);
      rzp.open();
    };
}
</script>
    <!-- <script type="module" src="/js/main.js"></script> -->
</body>
</html>
