<!-- {% if site.comingsoon == true %}
  {% unless page.private == true or page.url == "/coming-soon/" %}
    <script>
      window.location.href = "/coming-soon/";
    </script>
  {% endunless %}
{% endif %} -->
{%- if site.comingsoon == false -%}
  {%- unless page.private == true or page.url == "/coming-soon/" -%}
    <script>
      window.location.href = "/coming-soon/";
    </script>
  {%- endunless -%}

{%- elsif site.maintenance == false -%}
  {%- unless page.private == true or page.url == "/site-maintenance/" -%}
    <script>
      window.location.href = "/site-maintenance/";
    </script>
  {%- endunless -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // ==========
        (function () {
            const theme = localStorage.getItem("theme") || "dark"; // 👈 default DARK
            const link = document.createElement("link");
            link.rel = "stylesheet";
            link.id = "theme-style";
            link.href = theme === "dark" ? "/css/dark.css" : "/css/light.css";
            document.head.appendChild(link);
        })();
        // ==========
    </script>
    <title>{{ page.title }}</title>
    {% if page.url == "/404.html" %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}
    <script defer src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include header.html %}
  <main>{{ content }}</main>
  {% include footer.html %} 
</body>
</html>
